<p>Author id - {{id_author}}</p>
<div class="author">
  <img *ngIf="author; else noneImg" src={{src}} class="img" alt="">
  <ng-template #noneImg>
      <img class="img" src="https://eurekabooks.com.au/pics/7676.jpg" alt="">
  </ng-template>
  <div class="about">
      <p class="author-name">{{author?.fuller_name}}</p>
      <p class="description">{{author?.birth_date}}</p>
      <p *ngIf="author?.bio['value']; else bio" class="author-biography">{{author?.bio['value']}}</p>
      <ng-template #bio>
        <p class="author-biography">{{author?.bio}}</p>
      </ng-template>
  </div>
</div>
<div>
  <ul>
    <li *ngFor="let work of works">
      <a [routerLink]="['book', work.key.slice(7)]">{{work.title}}</a>
    </li>
  </ul>
</div>
