<div class="book">
    <img *ngIf="cover; else noneImg" src="https://covers.openlibrary.org/w/id/{{cover}}-L.jpg"
         class="img" alt="">
    <ng-template #noneImg>
        <img class="img" src="https://eurekabooks.com.au/pics/7676.jpg" alt="">
    </ng-template>
    <div class="about">
        <p class="book-title">{{work?.title}}</p>
        <a [routerLink]="['author', id_author]">
            <p class="book-authors">{{author?.name}}</p>
        </a>
        <p *ngIf="work?.description['value']; else descr;" class="description">{{work?.description['value']}}</p>
        <ng-template #descr>
            <p class="description">{{work?.description}}</p>
        </ng-template>
      <!--*ngIf="work?.description; else noDescr;"-->
        <!--<ng-template #noDescr>-->
          <!--<p class="description">This book has no description, sorry :(</p>-->
        <!--</ng-template>-->
    </div>
    <button (click)='click()'>Add</button>
</div>
<!--<p class="subject">{{work?.subjects}}</p>-->
  <ul *ngIf="done" class="subject">
    <li *ngFor="let recommendation of recommendationList">
      <a [routerLink]="['book', recommendation.key]" (click)="showRecommendation(false)">{{recommendation.title}}</a>
    </li>
  </ul>


