form {
    display: flex;
    width: 100%;
    justify-content: center;
}
.header {
	margin-top: 10px;
    background-color: #598F78;
    padding: 30px 40px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

.input {
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    flex-grow: 6;
    padding: 10px;
    font-size: 16px;
    background-color: #F5FFFE;
    max-width: 500px;

}

.button {
    padding: 10px 25px;
    border-radius: 10px;
    background: #299F6C;
    color: #C9FFF4;
    flex-grow: 2;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 150px;
}

.button:hover {
    background-color: #218359;
}

.titles {
  position: absolute;
  list-style-type: none;
  color: black;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 50px 0 0 70px;
  max-width: 470px;
  z-index: 10;
}
.title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #F5FFFE;
  border-radius: 5px;
  border: 1px solid aliceblue;
  padding: 10px;
  cursor: pointer;
}
