<li [class.checked] ='todoItem.done' (click)="onToggle($event, todoItem)">
    <div *ngIf='!edited; else editeForm'>
        <span>{{ todoItem.title }}</span>
        <span (click)="onEdit(todoItem);" class="edit">
            <i class="fas fa-edit"></i>
        </span>
        <span (click)="onDelete(todoItem);" class="close">
            <i class="fas fa-window-close"></i>
        </span>
    </div>
    <ng-template #editeForm>
        <form [formGroup]="editForm" novalidate (ngSubmit)="onSaveTodo(todoItem)" class="edit-block">
            <input formControlName="editInput" name="editInput" class="input form-control">
            <button [disabled]="editForm.invalid" class="button" type="submit">Edit</button>
        </form>
    </ng-template>
</li>