
<div class="book">
    <a (click)="sendWork(bookItem)" [routerLink]="['book', id]">
        <img *ngIf="bookItem.cover_i; else noneImg" src={{src}} class="img" alt="">
        <ng-template #noneImg>
            <img class="img" src="https://eurekabooks.com.au/pics/7676.jpg" alt="">
        </ng-template>
    </a>
    <div class="description">
        <p class="book-title">
          <a [routerLink]="['book', id]">{{ bookItem.title }}</a>
        </p>
        <p class="book-authors">
          <a [routerLink]="['author', bookItem.author_key[0]]">{{ bookItem.author_name }}</a>
        </p>
    </div>
</div>
<!-- <div class="book">
    <img class="img" src="https://covers.openlibrary.org/w/id/8236263-M.jpg" alt="">
    <div class="description">
        <p class="book-title">Title 1: Hobbit, or There and Back Again</p>
        <p class="book-authors">J.R.R.Tolkien</p>
    </div>
</div> -->
