@font-face {
    font-family: Montserrat; /* Имя шрифта */
    src: url("../fonts/Montserrat-ExtraBold.otf") format("truetype"); 
   }
@font-face {
    font-family: MontserratRegular; /* Имя шрифта */
    src: url("../fonts/Montserrat-Regular.otf") format("truetype"); 
   }
@font-face {
    font-family: MontserratMedium; /* Имя шрифта */
    src: url("../fonts/Montserrat-Medium.otf") format("truetype"); 
   }
@font-face {
    font-family: MerriweatherRegular; /* Имя шрифта */
    src: url("../fonts/Merriweather-Regular.otf") format("truetype"); 
   }
@font-face {
    font-family: MerriweatherBold; /* Имя шрифта */
    src: url("../fonts/Merriweather-Bold.otf") format("truetype"); 
   }
@font-face {
    font-family: RalewayRegular; /* Имя шрифта */
    src: url("../fonts/Raleway-Regular.ttf") format("truetype"); 
   }

body {
	min-width: 610px;
}

.header {
	padding: 20px 0;
	background-color: #eff0f2;
}

.company-name, .company-phone {
	font-size: 1.4rem;
	font-family: Montserrat;
	padding-top: 108px;

	font-weight: 400;
	color: #505050;
}

.name {
	text-align: left;
}

.phone {
	text-align: right;
}

.icon {
	font-size: 1.8rem;
}

.main {
	background-image: url(../images/main_back.jpg);
	color: #bbb8b9;
	font-family: RalewayRegular;
	width: 100%;
	background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
}

.gradient {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
	width: 100%;
	padding: 90px 40px 90px 40px;
}

.headline, .subtitle, .subtitle-2 {
	text-align: center;
	color: #bbb8b9;
}

.headline {
	font-size: 2.5rem;
	padding: 100px 50px 20px 50px;
	font-weight: 400;
	font-family: Montserrat;
}

.subtitle, .subtitle-2 {
	padding: 20px 0 130px 0;
	font-size: 1.6rem;

	font-family: MontserratMedium;
}

.subtitle-2 .subtitle-text {
	margin-bottom: 0px;
}

.subtitle-text {
	margin-bottom: 0.3rem;
}

.photo {
	padding: 20px 0 50px 0;
	background-color: #eff0f2;
}

.photo-title {
	font-size: 1.7rem;
	font-family: Montserrat;
	padding: 50px;
	text-align: center;
	font-weight: 400;
	color: #505050;
}

img {
	height: auto; 
    width: 100%;
}

.us .container {
	padding-bottom: 40px;
}

.reason {
	font-family: MontserratMedium;
	font-size: 1rem;
	font-weight: 400;
	color: #505050;
}

.line-bottom {
    width: 100%;
    height: 7px;
	background: #f1f1f1;
	box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.08);
}

.us_point {
	text-align: center;
}

.us_icon {
	width: 100%;
	height: auto;
	max-width: 130px;
	padding-bottom: 10px;
}

.stages {
	background-image: url(../images/stages_back.jpeg);
	color: #bbb8b9;
	font-family: RalewayRegular;
	width: 100%;
	background-position-x: center;
    background-position-y: top;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    background-size: cover;
}

.stages .gradient {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
	width: 100%;
	padding: 50px 40px;
}

.stages .headline {
	font-size: 1.7rem;
	padding: 20px 50px 50px 50px;
	font-weight: 400;
	font-family: Montserrat;
}

.stages .subtitle {
	padding: 20px 0;
	font-size: 1.6rem;

	font-family: MontserratMedium;
}

.stages .subtitle-text {
	margin-bottom: 0.3rem;
}

.stages_text {
	font-family: MontserratMedium;
	font-size: 0.9rem;
	font-weight: 400;
	color: #bbb8b9;
}

.stages_header {
	font-family: MontserratMedium;
	font-size: 1rem;
	font-weight: 600;
	/* color: #bbb8b9; */
	/* color: #71f6eb; */
	color: #4fb8fe;
	padding-bottom: 10px;
}

.stages .us_point {
	text-align: center;
	padding-bottom: 20px;
}

.stage_icon {
	width: 100%;
	height: auto;
	max-width: 100px;
	padding-bottom: 10px;
}

.footer {
	background-color: #262b2e;
	padding: 30px 0px 10px 0px;
	color: #bbb8b9;
	font-family: RalewayRegular;
}
.footer .company-name, .footer .company-phone {
	color: #bbb8b9;
	font-size: 1.5rem;
}

.footer_text {
	margin-bottom: 10px;
	text-align: center;
}

.social {
	padding: 8px 10px 0px 10px;
}

#last_text {
	margin-top: 20px;
	letter-spacing: 0.013em;
}

.author_text {
	margin-bottom: 0px;
	margin-right: 10px;
	text-align: right;
	font-size: 0.9rem;
}

.blue {
	color: #4fb8fe;
}

a .blue:hover {
	color: #016bb2;
}

.second {
	display: none;
}

.first {
	display: block;
}

.icons {
	text-align: right;
}

.subtitle-2 {
	display: none;
}

input::-moz-placeholder { color: white; }
input::-webkit-input-placeholder { color: white; }
textarea::-moz-placeholder { color: white; }
textarea::-webkit-input-placeholder { color: white; }

@media (max-device-width: 768px) { 
	.header .container, .main .container, .us .container, .stages .container, .photo .container, .footer .container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}

	.phone {
		text-align: right;
	}

	.name {
		text-align: left;
	}

	html {
		font-size: 30px;
	}

	.us_point {
		flex: 0 0 70%;
    	max-width: 70%;
	}

	.stages .us_point {
		flex: 0 0 48%;
    	max-width: 48%;
	}

	.us_points {
		justify-content: space-around!important;
	}

	.subtitle-2 {
		display: block;
	}

	.subtitle {
		display: none;
	}

	.headline, h1 {
		font-size: 2rem;
	}

	.h3, h3 {
		font-size: 1.5rem;
	}

	.h4, h4 {
		font-size: 1.3rem;
	}

	.company-name, .company-phone {
		font-size: 1.1rem; 
	}

	.footer .company-name, .footer .company-phone {
		font-size: 1.1rem; 
	}
}
@media all and (max-width: 768px) { 
	.header .container, .main .container, .us .container, .stages .container, .photo .container, .footer .container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}

	.phone {
		text-align: right;
	}

	.name {
		text-align: left;
	}

	.second {
		display: block;
	}

	.first {
		display: none;
	}

	.icons {
		text-align: center;
	}

	.headline {
		padding: 100px 0px 20px 0px;
	}

	.main .gradient {
		padding: 90px 0px 90px 0px;
	}
}

@media all and (max-width: 576px) { 
	.phone, .name {
		text-align: center;
	}
}
